[submodule "containers/interproscan"]
	path = containers/interproscan
	url = https://github.com/biocorecrg/interproscan_docker
[submodule "containers/sigtarp"]
	path = containers/sigtarp
	url = https://github.com/biocorecrg/sigtarp_docker
[submodule "gogoapi"]
	path = gogoapi
	url = https://github.com/toniher/gogoapi
