params {
 proteinFile = "${baseDir}/dataset/P.vulgaris.proteins.fa"
 gffFile = "${baseDir}/dataset/P.vulgaris.gff3"
 gffread = "false"
 evalue = "0.00001"
 blastDB_path = "/nfs/db/ncbi/201908/blastdb/db/nr"
 specie_name = "P.vulgaris"
 chunkSize = 25
 chunkWebSize = 100
 dbEngine = "MySQL"
 dbname = "Pvulgaris"
 oboFile = "${baseDir}/dataset/gene_ontology_ext.obo"
 resultPath = "${baseDir}/results/"
 stdoutLog = "${baseDir}/logs/functional_annotation.stdout"
 stderrLog = "${baseDir}/logs/functional_annotation.stderr"
 evalue = 0.0001
 kegg_species = "hsa, dme, cel, ath, sce, cho, eco, nme, hpy, rpr, bsu, lla, cac, mge, mtu, ctr, bbu, syn, bth, dra, aae, mja, ape, aly, cit, tcc, gmx, fve, csv, vvi, sly, osa, olu, ota, mis, cme, gsl"
 kolist = "/nfs/db/kegg/ko_list"
 koprofiles = "/nfs/db/kegg/profiles"
 gogourl = "http://gogo.test.crg.eu/api"
 ipscantmp = "${baseDir}/tmp/"
 dbuser = "test"
 dbpass = "test"
 dbport = 12345
 mysqldata = "${baseDir}/mysql/"
 mysqllog = '${baseDir}/tmp/'
 mysqlimg = "/software/bi/biocore_tools/git/singularity/mariadb-10.3.simg"
 loglevel = "info"
 debug = "true"
}
