params {
 proteinFile = '/users/rg/avlasova/Projects/FA_nextflow/data/protein.fa'
 gffFile = '/users/rg/avlasova/Projects/FA_nextflow/data/annotation.gff3'
 blastFile = ''
 specie_name = 'T.Specie'
 chunkSize = 5
 dbEngine = 'SQLite'
 dbname = 'testDB'
 resultPath = '/users/rg/avlasova/Projects/FA_nextflow/'
 stdoutLog = 'functional_annotation.stdout'
 stderrLog = 'functional_annotation.stderr'
 kegg_species = 'hsa, dme, cel, ath, sce, cho, eco, nme, hpy, rpr, bsu, lla, cac, mge, mtu, ctr, bbu, syn, bth, dra, aae, mja, ape, aly, cit, tcc, gmx, fve, csv, vvi, sly, osa, olu, ota, mis, cme, gsl'
 keggFile = '/users/rg/avlasova/Projects/FA_nextflow/data/query.ko'
 kegg_release = '83.0'
 gogourl = 'http://gogo.test.crg.eu/api'
 ipscantmp = '/users/rg/avlasova/ipscantmp'
 ipscandb = '/nfs/db/iprscan/data'
}
