includeConfig params.config

params.interproscan = '/software/rg/el6.3/interproscan-5.19-58.0/interproscan.sh'

// NOTE: signalP and targetP are the property of CBS, for academic users there is no license fee, but have to be requested.
// http://www.cbs.dtu.dk/index.shtml 

params.signalP = '/software/rg/el6.3/signalP/signalp-4.1/signalp'
params.targetP = '/software/rg/el6.3/targetP/targetp-1.1/targetp'

params.b2g4pipe = 'java -Xmx8000m -cp /software/bi/programs/b2g4pipe/ext/\\*:/software/bi/programs/b2g4pipe/\\*  es.blast2go.prog.B2GAnnotPipe'
params.blast_annotator='/nfs/software/bi/programs/blast-annotator/blast-annotator.pl'

params.blastDB_path = '/db/ncbi/latest/blastdb/db/nr'



process {
            executor = 'crg'
            penv = 'smp'
            queue = 'rg-el7'
            memory = 16.GB
//           errorStrategy = 'finish'
            beforeScript = "module purge"
            
            $ipscn {
                memory = 60.GB
                cpus = 4
              }
           $blast {
                memory = 40.GB
                cpus = 8
              }

}