manifest {
        mainScript = 'pipeline.nf'
        description = 'Pipeline for FA analysis'
}

includeConfig "${params.config ?: 'main_configuration.config'}"

process{

        queue='long-sl7,short-sl7'
        memory='24G'
        cpus='4'
        time='6h'
        scratch = false

        withLabel: blast {
                queue='long-sl7'
                time='48h'
                cpus='8'
                container="/software/bi/biocore_tools/git/singularity/ncbi-blast-2.7.1.simg"
        }
        
        withLabel: sigtarp {
                queue='short-sl7'
                container="/software/bi/biocore_tools/git/singularity_conversion/singularity/toniher_sigtarp-2018-09-27-b090a1c66fc0.img"
        }

        withLabel: ipscan {
                queue='long-sl7'
                time='48h'
                cpus='8'
                memory='48G'
                container="/software/bi/biocore_tools/git/singularity_conversion/singularity/biocorecrg_interproscan-2018-10-08-dacb253160b5.img"
        }
}

process.container = "/software/bi/biocore_tools/git/singularity_conversion/singularity/toniher_fa-nf-2018-10-08-10850628f2b7.img"
singularity.enabled = true


