manifest {
        mainScript = 'pipeline.nf'
        description = 'Pipeline for FA analysis'
}

includeConfig "${params.config ?: 'main_configuration.config'}"

process{

        queue='biocore-el7,long-sl7,short-sl7'
        memory='24G'
        cpus='4'
        time='6h'
        scratch = false

        withLabel: blast {
                queue='biocore-el7,long-sl7'
                time='48h'
                cpus='8'
                container="/home/toniher/remote-work/bio/FA-nf-data/images/ncbi-blast-2.7.1.simg"
        }
        
        withLabel: blastannotator {
                cpus='1'
                memory='8G'
                queue='biocore-el7,short-sl7'
        }
        
        withLabel: sigtarp {
                queue='short-sl7'
                container="/home/toniher/remote-work/bio/FA-nf-data/images/sigtarp-dev.simg"
        }
        
        withLabel: cdSearch {
                cpus='1'
                memory='8G'
                queue='biocore-el7,short-sl7'
        }  

        withLabel: ipscan {
                queue='biocore-el7,long-sl7'
                time='48h'
                cpus='8'
                container="/home/toniher/remote-work/bio/FA-nf-data/images/iprscan-5.31.70.simg"
        }
}

process.container = "/home/toniher/remote-work/bio/FA-nf-data/images/fa-nf-test.simg"
singularity.enabled = true


